<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefuncwithcosmos.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d6e5ca58-d1c9-4321-82d2-eee8c3c96f60/resourceGroups/AzureFuncDemo/providers/Microsoft.Web/sites/AzureFuncWithCosmos</ResourceId>
    <UserName>$AzureFuncWithCosmos</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azurefuncwithcosmos.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>